{% extends 'base.html' %}]


{% block content %}


    <div class = "text-center mw-450 m-auto">
        <div class = "m-5"> <!-- 상하좌우 모두 5만큼-->
            {% if target_user.profile %}
                <img src="{{ target_user.profile.image.url }}"
                     class = "profile_image m-3"
                     alt="프로필 이미지">
                <h3 class = "NNS_B">
                    {{ target_user.profile.nickname }}
                    <a href="{% url 'profile:modify' pk=target_user.profile.pk %}">
                        프로필수정
                    </a>
                </h3>
                <h4>{{ target_user.profile.message}}</h4>
            {% else %}
            <h4>
                <a href="{% url 'profile:new' %}">
                    Create Profile
                </a>
            </h4>
            {% endif %}
        </div>
        <div>
            {{ target_user.date_joined }}
        </div>
        {% if user == target_user %}
        <div class = "m-2">
            <a href="{% url 'practice:modify' pk=target_user.pk %}">
                정보수정
            </a>
        </div>
        <div>
            <a href="{% url 'practice:delete' pk=target_user.pk %}">
                회원탈퇴
            </a>
        </div>
        {% endif %}
    </div>

{% endblock %}