{% extends 'base.html' %}]


{% block content %}


    <div class = "text-center mw-450 m-auto">
        <div class = "m-5"> <!-- 상하좌우 모두 5만큼-->
            {% if target_user.profile %}
                <img src="{{ target_user.profile.image.url }}"
                     class = "profile_image m-3"
                     alt="프로필 이미지">
                <h3 class = "NNS_B">
                    {{ target_user.profile.nickname }}
                        {% if target_user == user %}
                            <a href="{% url 'profile:modify' pk=target_user.profile.pk %}"
                                class="material-icons round_button">
                                edit
                            </a>
                        {% endif %}
                </h3>
                <h4>{{ target_user.profile.message}}</h4>
            {% else %}
            <h4>
                <a href="{% url 'profile:new' %}">
                    Create Profile
                </a>
            </h4>
            {% endif %}
        </div>

        {% if user == target_user %}
        <div class = "m-2">
            <a href="{% url 'practice:modify' pk=target_user.pk %}"
            class = 'material-icons round_button mx-1'>
                settings
            </a>
            <a href="{% url 'practice:delete' pk=target_user.pk %}"
            class = 'material-icons round_button mx-1'>
                close
            </a>
        </div>
        {% endif %}
    </div>
    <div>
        {% include 'snippets/list_fragment.html' with article_list=object_list %}
    </div>
{% endblock %}