{% extends 'base.html' %}]


{% block content %}


    <div class = "text-center mw-450 m-auto">
        <div class = "m-5"> <!-- 상하좌우 모두 5만큼-->
            <h4>{{ target_user.username }}</h4>
        </div>
        <div>
            {{ target_user.date_joined }}
        </div>
        <div class = "m-2">
            <a href="{% url 'practice:modify' pk=target_user.pk %}">
                정보수정
            </a>
        </div>
        <div>
            <a href="{% url 'practice:delete' pk=target_user.pk %}">
                회원탈퇴
            </a>
        </div>
    </div>

{% endblock %}