{% extends 'base.html' %}]


{% block content %}


    <div class = "text-center mw-450 m-auto">
        <div class = "m-5">

                <img src="{{ target_letter.image.url }}"
                     class = "profile_image m-3"
                     alt="프로필 이미지">
                <h3 class = "NNS_B">
                    {{ target_letter.name }}
                </h3>
                <h4>{{ target_letter.description}}</h4>

        </div>


    </div>
    <div class="text-center">
    {% if user.is_authenticated %}
        {% if not subscription %}
        <a href="{% url 'subscribe:subscribe' letter_pk=target_letter.pk %}"
        class="btn btn-primary rounded-pill px-5">
            Subscribe
        </a>
        {% else %}
        <a href="{% url 'subscribe:subscribe' letter_pk=target_letter.pk %}"
        class="btn btn-secondary rounded-pill px-5">
            Unsubscribe
        </a>
        {% endif %}
    {% endif %}
    </div>
    <div>
        {% include 'snippets/list_fragment.html' with article_list=object_list  %}
    </div>

{% endblock %}