{% extends 'base.html' %}
{% load static %}

{% block content %}

    <style>
        .container div {
          width: 250px;
          background-color: darkgray;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 2rem;
            flex-direction: column;
            box-shadow: 0 0 .5rem darkgrey;
        }

        .container img {
            width: 100%;
            border-radius: 2rem;
        }

    </style>


    <div class="container my-3">
        {% for article in article_list %}
            <div>
                <a href="{% url 'article:detail' pk=article.pk %}">
                    <img src="{{ article.image.url }}" alt="">
                </a>
                <span class="NNS_B my-2">{{ article.title }}</span>
            </div>
        {% endfor %}
    </div>

    <script src="{% static 'js/magicgrid.js' %}"></script>
    {% include 'snippets/pagination.html' %}
    <div class="text-center my-5">
        <a href="{% url 'article:upload' %}"
        class="btn btn-dark rounded-pill material-icons">
            brush
        </a>
        <a href="{% url 'article:upload' %}"
        class="btn btn-outline-dark rounded-pill px-5">
            게시글작성
        </a>
    </div>
{% endblock %}