<div style="text-align: center; color: cornflowerblue;font-size :50px; font-family: 'Black And White Picture', sans-serif;">
    <div style = 'margin : 5 rem;padding-top : 2rem ;padding-bottom : 5rem;'>
        보노보노 등.장.ㅋㅋㅋㅋ
    </div>
    <div style = "margin : 2 rem 1;font-size : 100 px; font-family: 'Cute Font', cursive;">
        <span style = 'margin : 3 rem 2; padding-left : 1rem; padding-right : 1rem;'>메뉴1</span>
        <span style = 'margin : 3 rem 2; padding-left : 1rem; padding-right : 1rem;'>메뉴2</span>
        <span style = 'margin : 3 rem 2; padding-left : 1rem; padding-right : 1rem;'>메뉴3</span>
    </div>

</div>